[Unit]
Description=RatRig Discord IP Bot
After=network-online.target

[Service]
Type=simple
User=pi
Group=pi
UMask=007
ExecStartPre=/usr/bin/env source venv/bin/activate
ExecStart=/usr/bin/env python3 bot.py
Restart=on-failure
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target